{% extends 'base_index.html.twig' %}

{% block body %}
    <div class="container">

        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-3">

                </div>

                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
                        </div>
                    </div>
                    <hr>
                    <div class="row text-center">

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="{{ asset('bundles/images/1.png') }}" alt="">
                                <div class="caption">
                                    <p><h5><a>1000вт кварцан шар гэрэл бүдүүн оролттой</a></h5></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="{{ asset('bundles/images/1.png') }}" alt="">
                                <div class="caption">
                                    <p><h5><a>1000вт кварцан шар гэрэл бүдүүн оролттой</a></h5></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="{{ asset('bundles/images/1.png') }}" alt="">
                                <div class="caption">
                                    <p><h5><a>1000вт кварцан шар гэрэл бүдүүн оролттой</a></h5></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="{{ asset('bundles/images/1.png') }}" alt="">
                                <div class="caption">
                                    <p><h5><a>1000вт кварцан шар гэрэл бүдүүн оролттой</a></h5></p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row text-center">

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="http://placehold.it/800x500" alt="">
                                <div class="caption">
                                    <h3>Feature Label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p>
                                        <a href="#" class="btn btn-default">More Info</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="http://placehold.it/800x500" alt="">
                                <div class="caption">
                                    <h3>Feature Label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p>
                                        <a href="#" class="btn btn-default">More Info</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="http://placehold.it/800x500" alt="">
                                <div class="caption">
                                    <h3>Feature Label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p>
                                        <a href="#" class="btn btn-default">More Info</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="http://placehold.it/800x500" alt="">
                                <div class="caption">
                                    <h3>Feature Label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p>
                                        <a href="#" class="btn btn-default">More Info</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row text-center">

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="http://placehold.it/800x500" alt="">
                                <div class="caption">
                                    <h3>Feature Label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p>
                                        <a href="#" class="btn btn-default">More Info</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="http://placehold.it/800x500" alt="">
                                <div class="caption">
                                    <h3>Feature Label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p>
                                        <a href="#" class="btn btn-default">More Info</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="http://placehold.it/800x500" alt="">
                                <div class="caption">
                                    <h3>Feature Label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p>
                                        <a href="#" class="btn btn-default">More Info</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="http://placehold.it/800x500" alt="">
                                <div class="caption">
                                    <h3>Feature Label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p>
                                        <a href="#" class="btn btn-default">More Info</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <hr>
            <div class="row text-center">

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <h3>Feature Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <h3>Feature Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <h3>Feature Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <h3>Feature Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row text-center">

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <h3>Feature Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <h3>Feature Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <h3>Feature Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <h3>Feature Label</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <p>
                                <a href="#" class="btn btn-default">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}